/* *{
  box-sizing: border-box;
margin: 0;
padding: 0;
height: 100vh;
} */
.resume{
  height: 100%;
  width: 80%;
 
  
  
}
#iframe{
  width:80vw;
  height:100vh;
  align-items: center;
  
  
  
}
/* .home{
  height: 50vh;
  width: 50%;
 
} */
/* .name{
  margin-left: 40%;
  
} */
.hi{
 
  font-size: 30px;
}
.nav{
  background-color: rgb(165, 233, 238);
  padding: 20px;
  display: flex;
  justify-content:space-around;
  font-size: 25px;
  
}
.project{
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  padding: 175px;
  background-color: rgb(0, 238, 255);
  
}
